<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key><string>HHsim</string>
  <key>CFBundleDisplayName</key><string>HHsim</string>
  <key>CFBundleIdentifier</key><string>io.github.rem-aster.hhsim</string>
  <key>CFBundleVersion</key><string>@VERSION@</string>
  <key>CFBundleShortVersionString</key><string>@VERSION@</string>
  <key>CFBundlePackageType</key><string>APPL</string>
  <key>CFBundleExecutable</key><string>HHsim</string>
  <key>CFBundleIconFile</key><string>hhsim.icns</string>
  <key>CFBundleDevelopmentRegion</key><string>ru</string>
  <key>LSMinimumSystemVersion</key><string>11.0</string>
  <key>NSHighResolutionCapable</key><true/>
  <key>NSHumanReadableCopyright</key><string>GNU GPL v2+. David S. Touretzky et al.; русская версия.</string>
</dict>
</plist>
